.card {
    width: 700px;
    margin: auto;
    margin-top: 50px;
  }
  .error-message {
    color: red;
    text-align: center;
    font-size: small;
  }
  .loader{
    text-align: center;
    margin-top: 250px;
    }