:host {
  display: block;
}

.book-form {
  width: 500px;
  margin: 50px auto;
  background-color: #ffffff;
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0px 0px 8px 5px rgba(0, 0, 0, .4);
}
form  input, form select {
  height: 40px;
}

h5 {
  font-size: 20px;
}

small {
  color: red;
}

label {
  margin-bottom: 10px;
}
input,
select,
textarea {
  display: block;
  width: 100%;
  padding: 7px;
}

.input-row {
  margin-bottom: 15px;
}

button {
  font-size: 16px;
  color: black;
  padding: 7px;
  letter-spacing: 1px;
  transition: background-color 0.2s;
  cursor: pointer;
  border: 1px solid black;
  width: 100%;
}

button:hover {
  background-color: #067306;
  color: #fff;
}

@media (max-width: 576px) {

  label,
  input {
    font-size: 12px;
  }

  button {
    font-size: 12px;
    padding: 5px;
  }

  h5 {
    font-size: 14px;
  }

  .book-form {
    width: 300px;
  }
}

.loader {
  margin-top: calc(50vh - 171px);
}