<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-dark">
      <div class="container-fluid">
        <a class="navbar-brand" [routerLink]="['/']">BookStore</a>
        <button
          class="navbar-toggler"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#navbarScroll"
          aria-controls="navbarScroll"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
          <ul
            class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll"
            style="--bs-scroll-height: 100px"
          >
            <li class="nav-item">
              <a class="nav-link" [routerLink]="['/admin']" [hidden]="!isAdmin"
                >admin</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                [routerLink]="['/feedbacks']"
                [hidden]="!isAdmin"
                >feedbacks</a
              >
            </li>
            <li class="nav-item">
              <a class="nav-link" (click)="handleFeedback()" tabindex="0" [hidden]="!isAdmin"
                >submit feedback</a
              >
            </li>
            <li class="nav-item">
              <a
                class="nav-link"
                (click)="displayUsers()"
                tabindex="0"
                [hidden]="!isAdmin"
                >users</a
              >
            </li>
          </ul>
          <span *ngIf="isLoggedIn">
            <span>Welcome {{ username }}&nbsp;|&nbsp;</span>
            <span type="submit" (click)="confirmLogout()"> logout </span>
          </span>
          <span *ngIf="!isLoggedIn">
            <a [routerLink]="['/login']">login</a>&nbsp;|&nbsp;<a
              [routerLink]="['/register']"
              >register</a
            >
          </span>
        </div>
      </div>
    </nav>

    <!-- setting the visibility of modal -->
    <div [ngClass]="{'d-none':!displayConfirmLogout, 'd-block':displayConfirmLogout}" >
      <!-- Button trigger modal -->
      <button
        type="button"
        class="btn btn-primary d-none"
        data-bs-toggle="modal"
        data-bs-target="#exampleModal"
        id="triggerModal"
      >
      show
      </button>

      <!-- Modal -->
      <div
        class="modal fade"
        id="exampleModal"
        tabindex="-1"
        aria-labelledby="exampleModalLabel"
        aria-hidden="true"
      >
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-body">are you sure you want to logout?</div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-danger"
                (click)="signOut()"
              >
                Yes
              </button>
              <button type="button" class="btn btn-primary" data-bs-dismiss="modal">
                No
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
