<div class="search">
  <input
    type="search"
    placeholder="Search"
    aria-label="Search"
    [(ngModel)]="filterTerm"
  />
</div>

<!-- books are displayed here -->
<div class="book-container" *ngIf="!loading">
  <!-- to pass _id of the book as a parameter, put it in the second place of routerLink array and also update the 
   path in app-routing.module.ts -->
  <div
    class="book"
    [routerLink]="['/book', book._id]"
    *ngFor="let book of books | filter : filterTerm"
  >
    <div>
      <img [src]="book.image" class="cover-image" alt="book image" />
      <div class="book-info">
        <strong>{{ book.title }}</strong>
        <p>
          {{ book.author }}
        </p>
        <strong>{{ book.genre }}</strong>
      </div>
    </div>
  </div>
</div>
<div class="loader" *ngIf="loading">
  <img src="assets/Spinner-1s-200px.gif" alt="">
</div>