<nav class="navbar" style="background-color: #e3f2fd">
  <div class="container-fluid">
    <select
      class="form-select form-select-sm"
      aria-label=".form-select-sm example"
      (change)="onSelect($event)"
    >
      <option selected>sort using</option>
      <option value="date_published">date published</option>
      <option value="title">book name</option>
      <option value="author">author name</option>
      <option value="rating">rating</option>
    </select>
    <input
      class="search form-control me-2"
      type="search"
      placeholder="Search"
      aria-label="Search"
      [(ngModel)]="filterTerm"
    />
  </div>
</nav>
<div class="text-center loader"*ngIf="isLoading">
  <div class="spinner-border" style="width: 3rem; height: 3rem;" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>
<app-display-books [books]="booksData" [filterTerm]="filterTerm" *ngIf="!isLoading"></app-display-books>