.book-container {
  display: flex;
  margin-top: 20px;
  gap: 50px;
}
.book-image img {
  width: 100%;
  height: 100%;
}
.book-image {
  box-shadow: 5px 5px 12px lightgray;
  margin-bottom: 15px;
  margin-left: 10%;
  height: 250px;
  width: 250px;
}
.book-data {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.book-title {
  font-size: 20px;
}

.data-row {
  display: flex;
}
.placeholder {
  color: #333;
  width: 120px;
}
h5,
p,
strong {
  display: block;
  margin-bottom: 15px;
}

.value {
  flex: 1;
}

@media (max-width: 576px) {
  .book-container {
    flex-direction: column;
    align-items: center;
    margin-left: 0;
  }
  .book-image {
    height: 200px;
  }
  .book-title {
    font-size: 16px;
    align-self: flex-start;
  }
  .book-metadata {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 85vw;
  }
  .book-metadata p {
    font-size: 14px;
  }
  .data-row {
    width: 100%;
  }
 
}

@media (min-width: 577px) and (max-width: 767px) {
  .book-container {
    flex-direction: column;
    align-items: center;
    margin-left: 0;
  }
  .book-image {
    height: 250px;
  margin-left: 0%;

  }
  .book-title {
    font-size: 18px;
  }
 
  .book-metadata {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .book-metadata p {
    font-size: 16px;
  }
  .data-row {
    width: 100%;
  }
}

.about-section {
  padding: 20px;
  margin-top: 20px;
  text-align: center;
}
.action-buttons {
  display: flex;
  margin-top: 10px;
}
button {
  color: #fff;
  padding: 5px 10px;
  border-radius: 5px;
  width: 90px;
  transition: background-color 0.2s;
  letter-spacing: 1px;
  cursor: pointer;
  border: none;
}
.edit-button {
  background-color: #333;
  margin-right: 10px;
}
.remove-button {
  background-color: #d43131;
}
.remove-button:hover {
  color: #fff;
  background-color: #ff0000;
  border: none;
}

.loader {
  margin-top: calc(50vh - 171px);
}
button span {
  display: flex;
  justify-content: space-evenly;
}
button span img {
  height: 20px;
  width: 20px;
}

@media (max-width: 576px) {
  button span img {
    height: 15px;
    width: 15px;
  }  
  .book-image {
    margin-left: 0;
  }
}