<div class="container" *ngIf="!loading">
  <div class="book-container">
    <div class="book-image">
      <img [src]="book.image" alt="book image" />
    </div>
    <div class="book-data">
      <div class="book-metadata">
        <h5 class="book-title">
          {{ book.title | titlecase }}
        </h5>
        <p class="data-row">
          <span class="placeholder">author:</span><span class="value">{{ book.author }}</span>
        </p>
        <p class="data-row">
          <span class="placeholder">genre:</span
          ><span class="value">{{ book.genre | titlecase }}</span>
        </p>
        <p class="data-row">
          <span class="placeholder">published by:</span
          ><span class="value">{{ book.publisher | titlecase }}</span>
        </p>
        <p class="data-row">
          <span class="placeholder">published on:</span
          ><span class="value">{{ book.date_published | date }}</span>
        </p>
      </div>
      <div [hidden]="!isAdmin">
        <span class="action-buttons">
          <button
            type="button"
            class="button edit-button"
            (click)="changeBook()"
          >
            <span> <img src="assets/edit.png" /> Edit</span>
          </button>
          <button
            type="button"
            class="button remove-button"
            (click)="removeBook()"
          >
            <span> <img src="assets/bin (1).png" /> Delete</span>
          </button></span
        >
      </div>
    </div>
  </div>
  <div class="about-section">
    <strong>About the Book:</strong>
    <p>{{ book.description }}</p>
  </div>
</div>

<div class="loader" *ngIf="loading">
  <img src="assets/loading-state.gif" />
</div>
