<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <!-- books are displayed here -->
<div class="container">
  <div class="row row-cols-1 row-cols-md-5 g-3">
    <!-- to pass _id of the book as a parameter, put it in the second place of routerLink array and also update the 
   path in app-routing.module.ts -->
    <div
      class="col"
      [routerLink]="['/book', book._id]"
      *ngFor="let book of books | filter: filterTerm"
    >
      <div class="card">
        <img
          [src]="book.image"
          class="card-img-top"
          alt={{books.title}}
        />
        <div class="card-body">
          <strong class="card-title">{{ book.title }}</strong>
          <p class="card-text">
            {{ book.author }}
          </p>
          <strong>{{ book.genre }}</strong>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>