<div class="login-container">
  <h2>Login</h2>
  <div class="error-message">
    <p class="error" *ngIf="errorMessage">{{ errorMessage }}</p>
  </div>
  <form (ngSubmit)="signinUser(usrForm)" #usrForm="ngForm">
    <div class="input-row">
      <label for="exampleInputEmail1">Username:</label>
      <input
        type="text"
        aria-describedby="emailHelp"
        placeholder="Enter username"
        [(ngModel)]="login_form.username"
        [class.is-invalid]="usrname.invalid && usrname.touched"
        name="username"
        ngModel
        #usrname
        required
      />
    </div>
    <small *ngIf="usrname.invalid && usrname.touched">this field is required</small>
    <div class="input-row">
      <label for="exampleInputPassword1">Password:</label>
      <input
        type="password"
        placeholder="Password"
        [(ngModel)]="login_form.password"
        [class.is-invalid]="passwrd.invalid && passwrd.touched"
        name="password"
        ngModel
        #passwrd
        required
      />
      <small *ngIf="usrname.invalid && usrname.touched">this field is required</small>
    </div>
    <button type="submit" class="button">Login</button>
    <p class="register" [routerLink]="['/register']">
      don't have an account?&nbsp;<strong
        style="text-decoration: underline; cursor: pointer"
        >signup</strong
      >
    </p>
  </form>
</div>
