:host {
  display: block;
  flex: 1;
}
.error-message {
  margin-bottom: 15px;
}
.login-container {
  width: 500px;
  margin: 50px auto;
  padding: 50px;
  background-color: #ffffff;
  padding: 30px 0px;
  border-radius: 10px;
  box-shadow: 0px 0px 8px 5px rgba(0, 0, 0, .4);
}

input {
  width: 100%;
  padding: 7px;
}
input::placeholder {
  opacity: 0;
}
.input-row {
  position: relative;
  margin: auto;
  margin-bottom: 20px;
  width: 60%;
}
.input-row label {
  position: absolute;
  top: 10px;
  left: 10px;
  font-size: 14px;
  color: gray;
  transition: all 0.2s ease;
}
input:focus + label, .active {
  font-size: 12px !important;
  transform: translateY(-17px);
  background-color: #ffffff;
}
.error {
  color: red;
  text-align: center;
}

button {
  border: 1.2px solid black;
  color: black;
  width: 100%;
  padding: 6px;
  transition: background-color 0.4s;
  letter-spacing: 1px;
}

button:hover {
  color: #fff;
  background-color: #333;
}

.register {
  text-align: center;
  margin-top: 10px;
}

@media (max-width: 576px) {
  * {
    font-size: 12px;
  }
  input {
    padding: 6px;
  }
  button {
    padding: 8px;
  }
  .login-container {
    width: 300px;
    margin-top: 20px;
  }
  .input-row label {
    top: 7px;
  }
}

h2 {
  font-size: larger;
  text-align: center;
  color: rgb(0, 0, 0, 0.8);
}

.header {
  gap: 20px;
}
