<div class="login-container">
  <div class="header">
    <img class="header-icon" src="assets/enter.png" alt="" />
    <h2>Login to BookStore</h2>
  </div>
  <div class="error-message">
    <p class="error" *ngIf="errorMessage">{{ errorMessage }}</p>
  </div>
  <form (ngSubmit)="signinUser(usrForm)" #usrForm="ngForm">
    <div class="input-row">
      <input
        id="usrname"
        type="text"
        aria-describedby="emailHelp"
        placeholder="Enter username"
        [(ngModel)]="login_form.username"
        [class.is-invalid]="usrname.invalid && usrname.touched"
        name="username"
        ngModel
        #usrname
        required
      />
      <label for="usrname" [ngClass]="{'active':login_form.username}">Username</label>
    </div>
    <small *ngIf="usrname.invalid && usrname.touched"
      >this field is required</small
    >
    <div class="input-row">
      <input
        id="password"
        type="password"
        placeholder="Password"
        [(ngModel)]="login_form.password"
        [class.is-invalid]="passwrd.invalid && passwrd.touched"
        name="password"
        ngModel
        #passwrd
        required
      />
      <label for="password" [ngClass]="{'active':login_form.password}">Password</label>
      <small *ngIf="usrname.invalid && usrname.touched"
        >this field is required</small
      >
    </div>
    <div class="input-row">
      <button type="submit" class="button" [ngClass]="{'no-padding': showLoader, 'bg-color': showLoader}" [disabled]="showLoader">
        <span *ngIf="!showLoader">Login</span>
        <div class="mobile-loader" *ngIf="showLoader">
          <img src="assets/loading-state.gif" />
        </div>
      </button>
    </div>
    <p class="register">
      don't have an account?&nbsp;<strong
        style="text-decoration: underline; cursor: pointer"
        ><span [routerLink]="['/register']">Create Account</span></strong
      >
    </p>
  </form>
</div>
