<div class="signup-container">
  <div class="header">
    <img class="header-icon" src="assets/register.png" alt="" />
    <h2>Register Your Account</h2>
  </div>
  <div class="error-message" style="margin-bottom: 15px">
    <p class="error" *ngIf="errorMessage">{{ errorMessage }}</p>
  </div>
  <form (ngSubmit)="createUser(registr_form)" #registr_form="ngForm">
    <div class="input-row">
      <input
        id="nme"
        type="text"
        aria-describedby="emailHelp"
        [(ngModel)]="registration_form.name"
        name="name"
        placeholder="Name"
        #_name
        required
      />
      <label for="nme" class="input-label" [ngClass]="{'active': registration_form.name}">Name</label>
    </div>
    <div class="input-row">
      <input
        id="username"
        type="text"
        aria-describedby="emailHelp"
        [(ngModel)]="registration_form.username"
        name="username"
        placeholder="Username"
        #_username
        required
      />
      <label for="username" class="input-label" [ngClass]="{'active': registration_form.username}">Username</label>
    </div>
    <div class="input-row">
      <input
        id="email"
        type="email"
        aria-describedby="emailHelp"
        [(ngModel)]="registration_form.email"
        name="email"
        placeholder="Email"
        #_email
        required
      />
      <label for="email" class="input-label" [ngClass]="{'active': registration_form.email}">Email</label>
    </div>
    <div class="input-row">
      <input
        id="password"
        type="password"
        [(ngModel)]="registration_form.password"
        name="password"
        placeholder="Password"
        #_password
        required
      />
      <label for="password" class="input-label" [ngClass]="{'active': registration_form.password}">Password</label>
    </div>
    <div class="input-row">
      <input
        type="checkbox"
        value="admin"
        (change)="toggleValue()"
        #_isAdmin
        name="isadmin"
        id="admin"
      />
      <label for="admin"> register as admin </label>
    </div>
    <div class="input-row">
      <button type="submit" class="button" [ngClass]="{'no-padding': showLoader, 'bg-color': showLoader}" [disabled]="showLoader">  
        <span *ngIf="!showLoader">Register</span>
        <div class="mobile-loader" *ngIf="showLoader">
          <img src="assets/loading-state.gif" alt="loading spinner"/>
        </div></button>
    </div>
    <p class="login">
      already have account?&nbsp;<strong
        style="text-decoration: underline; cursor: pointer"
        ><span [routerLink]="['/login']">Login</span></strong
      >
    </p>
  </form>
</div>
