:host {
  position: fixed;
  left: 0;
  right: 0;
  z-index: 2000;
}
.navbar {
  display: flex;
  background-color: #fff;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 0px 2px black;
}
.navbar-links ul {
  display: flex;
}

.brand-title {
  font-size: 1.5rem;
  padding: 0.5rem;
  cursor: pointer;
}

.navbar-links li {
  list-style: none;
  margin: 0;
}

.navbar-links ul li a {
  color: black;
  text-decoration: none;
  padding: 1rem;
  display: block;
}

.navbar-links ul li a:hover {
  color: #fff;
}

.navbar-links li:hover {
  background-color: #555;
}
.toggle-button {
  position: absolute;
  top: 0.75rem;
  right: 1rem;
  display: none;
  flex-direction: column;
  justify-content: space-between;
  width: 30px;
  height: 21px;
}
.toggle-button .bar {
  height: 3px;
  width: 100%;
  background-color: black;
  border-radius: 10px;
}

@media (width<=1023px) {
  .toggle-button {
    display: flex;
    top: 0.5rem;
  }
  .navbar {
    flex-direction: column;
    align-items: flex-start;
  }
  .navbar-links {
    height: fit-content;
    width: 100%;
  }
  .navbar-links ul {
    width: 100%;
    display: none;
  }
  .navbar-links li {
    text-align: center;
  }
  .navbar-links li a {
    padding: 0.5rem 1rem;
  }
  .navbar-links.active {
    display: flex;
  }
  .brand-title {
    font-size: 1.2rem;
  }
  .toggle-button .bar {
    border-radius: 8px;
  }
  .bar {
    position: absolute;
    transition: 0.2s ease-in-out;
  }
  .bar-1 {
    top: 0px;
    transform: rotate(0deg);
  }
  .bar-2 {
    top: 9px;
    transform: rotate(0deg);
  }
  .bar-3 {
    top: 18px;
    transform: rotate(0deg);
  }
  .cross .bar-2 {
    opacity: 0;
  }
  .cross .bar-1 {
    top: 9px;
    transform: rotate(-45deg);
  }
  .cross .bar-3 {
    top: 9px;
    transform: rotate(45deg);
  }
  .show {
    display: flex !important;
    flex-direction: column;
  }


  
  .navbar-links ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: none;
  }
  
  .navbar-links.active ul.show {
    display: block;
  }
  
  .navbar-links ul li {
    display: block;
  }
  
  .navbar-links ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    color: #333;
    transition: background-color 0.3s ease;
  }
  
  .navbar-links ul li a:hover {
    background-color: #f2f2f2;
  }
  
  .navbar-links ul li.welcome-user a {
    color: #ff0000;
  }
  
  .navbar-links ul li a {
    display: none;
  }
  
  .navbar-links.active ul.show li a {
    display: block;
    opacity: 0;
    animation: fadeIn 0.5s ease forwards;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
      transform: translateY(-10px);
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
  }
  
}
