<nav class="navbar">
  <div class="brand-title" [routerLink]="['/']">BookStore</div>
  <a href="javascript:void(0);" class="toggle-button" (click)="toggleMenu()">
    <span class="bar"></span>
    <span class="bar"></span>
    <span class="bar"></span>
  </a>
  <div class="navbar-links" [ngClass]="{'active': showMenu}">
    <ul>
      <li class="nav-item" [hidden]="!isAdmin">
        <a class="nav-link" [routerLink]="['/admin']">Add book</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/feedback']">Submit feedback</a>
      </li>
      <li *ngIf="isLoggedIn" class="welcome-user">
        <a href="#" (click)="signOut()"> Logout </a>
      </li>
      <li *ngIf="!isLoggedIn" class="nav-link">
        <a [routerLink]="['/register']">Signup</a>
      </li>
      <li *ngIf="!isLoggedIn" class="welcome-user nav-link">
        <a [routerLink]="['/login']">Login</a>
      </li>
    </ul>
  </div>
</nav>
