<nav class="navbar">
  <div class="brand-title" [routerLink]="['/']">BookStore</div>
  <a href="javascript:void(0);" [ngClass]="{'cross': showMenu}" class="toggle-button" (click)="toggleMenu()">
    <span class="bar bar-1"></span>
    <span class="bar bar-2"></span>
    <span class="bar bar-3"></span>
  </a>
  <div class="navbar-links" [ngClass]="{'active': showMenu}">
    <ul>
      <li class="nav-item" [hidden]="!isAdmin">
        <a class="nav-link" (click)="toggleMenu()" [routerLink]="['/add-book']">Add book</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" (click)="toggleMenu()" [routerLink]="['/feedback']">Submit feedback</a>
      </li>
      <li *ngIf="isLoggedIn" class="welcome-user">
        <a href="#" (click)="[signOut(), toggleMenu()]"> Logout </a>
      </li>
      <li *ngIf="!isLoggedIn" class="nav-link">
        <a (click)="toggleMenu()" [routerLink]="['/register']">Signup</a>
      </li>
      <li *ngIf="!isLoggedIn" class="welcome-user nav-link">
        <a (click)="toggleMenu()" [routerLink]="['/login']">Login</a>
      </li>
    </ul>
  </div>
</nav>
