<div class="container">
  <div class="card">
    <h5 class="card-header" style="text-align: center">Add new book</h5>
    <div class="card-body">
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"
          >Book Name:</label
        >
        <p
          class="error-message"
          *ngIf="titleInput.touched && titleInput.errors"
        >
          enter a valid title
        </p>
        <input
          #titleInput="ngModel"
          type="text"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder="title.."
          [(ngModel)]="title"
          required
        />
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label">Author:</label>
        <p
          class="error-message"
          *ngIf="authorInput.touched && authorInput.errors"
        >
          enter a valid author name
        </p>
        <input
          #authorInput="ngModel"
          type="text"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder="author.."
          [(ngModel)]="author"
          required
        />
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"
          >Publisher:</label
        >
        <p
          class="error-message"
          *ngIf="publisherInput.touched && publisherInput.errors"
        >
          enter a valid publisher name
        </p>
        <input
          #publisherInput="ngModel"
          type="text"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder="publisher.."
          [(ngModel)]="publisher"
          required
        />
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"
          >Date published:</label
        >
        <p class="error-message" *ngIf="dateInput.touched && dateInput.errors">
          choose a valid date
        </p>
        <input
          #dateInput="ngModel"
          type="date"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder="published on.."
          [(ngModel)]="date_published"
          required
        />
      </div>
      <label for="exampleFormControlInput1" class="form-label"> Genre:</label>
      <select
        #genreInput="ngModel"
        class="form-select form-select-sm mb-3"
        aria-label=".form-select-sm example"
        [(ngModel)]="genre"
        required
      >
        <p
          class="error-message"
          *ngIf="genreInput.touched && genreInput.errors"
        >
          enter a valid genre
        </p>
        <option selected>select genre</option>
        <option value="fiction">fiction</option>
        <option value="autobiography">autobiography</option>
        <option value="science">science</option>
        <option value="history">history</option>
        <option value="mathematics">mathematics</option>
        <option value="law">law</option>
        <option value="medicine">medicine</option>
        <option value="technology & engineering">
          technology & engineering
        </option>
        <option value="finance">finance</option>
        <option value="art">art</option>
        <option value="travel">travel</option>
        <option value="self-help book">self-help book</option>
        <option value="thriller">thriller</option>
      </select>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"
          >Description:</label
        >
        <p
          class="error-message"
          *ngIf="descriptionInput.touched && descriptionInput.errors"
        >
          enter a valid description
        </p>
        <input
          #descriptionInput="ngModel"
          type="text"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder="enter description"
          [(ngModel)]="description"
          required
        />
      </div>
      <div class="mb-3">
        <label for="exampleFormControlInput1" class="form-label"
          >Image link:</label
        >
        <p
          class="error-message"
          *ngIf="imageInput.touched && imageInput.errors"
        >
          enter a valid image link
        </p>
        <input
          #imageInput="ngModel"
          type="text"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder="image link.."
          [(ngModel)]="image"
          required
        />
      </div>
      <button
        type="button"
        class="btn btn-success"
        style="width: 100%"
        [disabled]="
          titleInput.errors ||
          authorInput.errors ||
          publisherInput.errors ||
          dateInput.errors ||
          genreInput.errors ||
          descriptionInput.errors ||
          imageInput.errors
        "
        (click)="confirmEvent()"
      >
        submit
      </button>
    </div>
  </div>
</div>
