*,
body {
  box-sizing: border-box;
  font-family: open sans, 'Times New Roman', Times, serif;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

@media (max-width: 576px) {
  * {
    font-size: 12px;
  }
}

@media (width < 767px) {
  .loader > img {
    height: 50px;
    width: 50px;
  }
  .header {
    font-size: 12px !important;
  }
  .header-icon {
    height: 35px !important;
    width: 35px !important;
  }
}

@media (width > 767px) and (width < 1024px) {
  .loader > img {
    height: 70px;
    width: 70px;
  }
  .header {
    font-size: 14px !important;
  }
  .header-icon {
    height: 40px !important;
    width: 40px !important;
  }
}

@media (width >= 1024px) {
  .hidden-lg {
    display: none !important;
  }
}

.loader, .loader2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.loader > img, .loader2 > img {
  height: 100px;
  width: 100px;
}

input {
  border: 1px solid gray;
  outline-offset: 0px;
}
select:focus,
textarea:focus,
input:focus,
button:focus {
 
  box-shadow: -4px 10px 15px -3px rgba(0,0,0,0.1);
}

.is-invalid {
  outline: 1px solid red;
  border: none;
}

small {
  color: red;
  font-size: small;
}
.error {
  color: red;
  text-align: center;
}
button {
  background-color: rgb(239, 239, 239);
  cursor: pointer;
}
.error-message {
  margin-top: 5px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
}

.header-icon {
  height: 60px;
  width: 60px;
}

.no-padding {
  padding: 0 !important;
}
.bg-color {
  background-color: #f7f7f7  !important;
}

*:focus-visible {
  outline: none;
}

.mobile-loader img{
  height: 35px;
  width: 35px;
}

main {
  background-color: #fafafa;
}

input::placeholder, textarea::placeholder {
  letter-spacing: .3px;
}