form {
  width: 30%;
  margin: auto;
  border: 1px solid lightgray;
  margin-top: 100px;
  padding: 15px;
}
button {
  width: 100%;
}
.error {
text-align: center;
  color: red;

}
p:hover{
  cursor:pointer ;
}
small{
  align-items: center;
    color: red;
  }