<div *ngIf="isLoading" class="loader">
  <img src="assets/img/loader.gif" alt="loader" />
</div>
<div class="book-container" *ngIf="!isLoading">
  <div class="card" style="width: 100%">
    <img
      [src]="book.image"
      class="card-img-top book-img"
      alt="{{ book.title }}"
    />
    <div class="card-body">
      <h5 class="card-title">
        {{ book.title }}
      </h5>
      Author:{{ book.author }}
      <hr />
      <strong>About the Book:</strong>
      <p class="card-text">{{ book.description }}</p>
      <hr />
      <div class="grid text-center" style="row-gap: 0;">
        <div class="g-col-6">published</div>
        <div class="g-col-6">{{ book.date_published.split("T")[0] }}</div>
        <div class="g-col-6">publisher</div>
        <div class="g-col-6">{{ book.publisher }}</div>
        <div class="g-col-6">genre</div>
        <div class="g-col-6">{{ book.genre }}</div>
      </div>

      <span [hidden]="!isAdmin">
        <button
          type="button"
          class="btn btn-primary"
          [routerLink]="['/book/edit', bookId]"
        >
          Edit
        </button>
        <button type="button" class="btn btn-danger" (click)="removeBook()">
          Delete
        </button></span
      >
    </div>
  </div>
</div>
